.flex {
  display: flex;
  flex-direction: row;
}
.card {
  width: max-content;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  height: 100% !important;
}

.flex .body:nth-child(1) {
  border-right: 1px solid #d9d9d9;
}
